<div id="<%= dom_id student %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= student.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= student.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Album:</strong>
    <%= student.album %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Group:</strong>
    <%= student.group_id %>
  </div>
</div>
